.image-container-icon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 25rem;
  object-fit: cover;
  z-index: 0;
}

.page-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;

  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    100deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 105, 135, 1) 32%,
    rgb(62, 139, 197) 72%
  );
  background: -webkit-linear-gradient(
    100deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 105, 135, 1) 32%,
    rgb(62, 139, 197) 72%
  );
  background: linear-gradient(
    100deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 105, 135, 1) 32%,
    rgb(62, 139, 197) 72%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#44adff", GradientType=1);
}

.title1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 32.5rem;
}

.image-11-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.image-11-icon:hover {
  border: 4px solid var(--primary);
  box-sizing: border-box;
}

.card,
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-100);
  width: 78.75rem;
  overflow: hidden;
  padding: var(--padding-base);
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
}

.container {
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 0;
  width: 100%;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-71xl);
  position: relative;
  gap: var(--gap-41xl);
  z-index: 4;
  text-align: center;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
  width: 100%;
  max-width: var(--max-inner-width);
  padding: 0;
}

.section-texts-container {
  width: 100%;
  padding: var(--padding-41xl) 0;
  background-color: var(--grey);
}

.author-hifi-desktop {
  background-color: var(--white);
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: var(--padding-61xl) 0 0;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

@media (max-width: 960px) {
  .section-texts-container {
    padding: var(--padding-base) 0;
  }
}

/* @media (max-width: 768px) {
  .section-texts-container {
    padding: var(--padding-base) 0;
  }
} */
