.image-container-icon4 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 25rem;
  object-fit: cover;
  z-index: 0;
}

.section10 {
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-41xl);
}

.section10,
.title22 {
  align-self: stretch;
  position: relative;
}

.title22 {
  margin: 0;
  font-size: inherit;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-heading-large);
  line-height: var(--font-size-heading-large-height);
  width: 100%;
}

.frame-section {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
  width: 100%;
  max-width: var(--max-inner-width);
  justify-self: center;
  align-self: center;
}

.blogs-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-row-gap: 0;
}

.blogs-main-container {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-71xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 5;
  text-align: center;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}

.blogs-hifi-desktop {
  background-color: var(--white);
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: var(--padding-61xl) 0 0;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

@media (max-width: 960px) {
  .blogs-main-container {
    padding: var(--padding-13xl) var(--padding-13xl);
  }

  .blogs-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-row-gap: 0;
  }

  .title22 {
    font-size: var(--font-size-heading-medium);
    line-height: var(--font-size-heading-medium-height);
  }
}

@media (max-width: 768px) {
  .blogs-main-container {
    padding: var(--padding-xl) var(--padding-5xs);
  }

  .blogs-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .title22 {
    font-size: var(--font-size-heading-small);
    line-height: var(--font-size-heading-small-height);
  }
}
