.library-hifi-desktop {
  background-color: var(--white);
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: var(--padding-61xl) 0 0;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.list6 {
  width: 100%;
  max-width: var(--max-inner-width);
}

.section-library {
  align-self: stretch;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 4;
  text-align: left;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}

@media (max-width: 960px) {
  .section-library {
    padding: var(--padding-13xl) var(--padding-13xl);
  }
}

@media (max-width: 768px) {
  .section19 {
    padding: 0;
  }
}
