.image-container-icon6 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 25rem;
  object-fit: cover;
  z-index: 0;
}

.section14 {
  align-self: stretch;
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 0;
}

.image-9-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 14rem;
  height: 18rem;
  object-fit: cover;
}

.image7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-200);
}

.title32 {
  margin: 0;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 400;
  font-family: inherit;
}

.subtitle16,
.subtitle17,
.title32 {
  align-self: stretch;
  position: relative;
}

.subtitle16 {
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
  color: var(--color-gray-200);
}

.subtitle17 {
  font-size: var(--title-medium-size);
  line-height: 1.5rem;
}

.label-normal24 {
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs);
  align-items: center;
  justify-content: center;
}

.selection6,
.title-parent9 {
  display: flex;
  justify-content: flex-start;
}

.selection6 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-9xs) 0;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-xs);
}

.title-parent9 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}

.article12 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
  cursor: pointer;
}

.article12:hover {
  background-color: var(--primary);
}

.row4 {
  align-self: stretch;
  background-color: var(--grey);
  height: 25rem;
  padding: 0 var(--padding-71xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  text-align: left;
  font-size: var(--title-large-size);
  color: var(--color-black);
  font-family: var(--title-medium);
}

.section15 {
  align-self: stretch;
  background-color: var(--primary);
  overflow: hidden;
  padding: 0 var(--padding-71xl);
  z-index: 6;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--title-medium);
}

.top-bar-child3 {
  position: relative;
  border-radius: var(--br-81xl);
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.top-bar-child3:hover {
  border: 4px solid var(--primary);
  box-sizing: border-box;
}

.tab30,
.title34 {
  position: relative;
  font-weight: 500;
}

.title34 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 2.25rem;
  font-family: inherit;
}

.tab30:hover,
.title34:hover {
  color: var(--primary);
}

.tab30 {
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  cursor: pointer;
}

.library-hifi-desktop,
.navigation6,
.top-bar6 {
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.navigation6 {
  margin: 0;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--lable-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}

.library-hifi-desktop,
.top-bar6 {
  width: 100%;
  box-sizing: border-box;
}

.top-bar6 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  height: 5rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-71xl);
  justify-content: center;
  gap: var(--gap-xl);
  z-index: 7;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--secondary);
  font-family: var(--title-medium);
}

.library-hifi-desktop {
  position: relative;
  flex-direction: column;
  padding: var(--padding-61xl) 0 0;
  justify-content: flex-start;
}

.list6 {
  width: 100%;
  max-width: var(--max-inner-width);
}
