.image-container-icon3 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 25rem;
  object-fit: cover;
  z-index: 0;
}

.section8 {
  align-self: stretch;
  position: relative;
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-41xl);
}

.image-21-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 18rem;
  flex-shrink: 0;
  object-fit: cover;
}

.blog-container {
  display: flex;
  flex-direction: column;
}

.single-blog {
  position: relative;
  flex-direction: column;
  padding: var(--padding-61xl) 0 0;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list4 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  background-color: var(--white);
  padding: var(--padding-71xl);
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  text-align: left;
  font-size: var(--title-large-size);
  color: var(--color-black);
  font-family: var(--title-medium);
}

.article13 {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
  width: 100%;
  max-width: var(--max-inner-width);
}

.title-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title37 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-title-large);
  line-height: var(--font-size-title-large-heigth);
  font-family: var(--font-sans-serif);
}

.subtitle18 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-read-large);
  line-height: var(--font-size-read-large-height);
  font-family: var(--font-serif);
  letter-spacing: 0.5px;
}

@media (max-width: 960px) {
  .list4 {
    padding: var(--padding-13xl) 1rem;
  }

  .title37 {
    font-size: var(--font-size-title-medium);
    line-height: var(--font-size-title-medium-heigth);
  }

  .subtitle18 {
    font-size: var(--font-size-read-medium);
    letter-spacing: 0.25px;
    line-height: var(--font-size-read-medium-height);
  }
}

@media (max-width: 768px) {
  .list4 {
    padding: 0;
  }

  .article13 {
    padding: var(--padding-5xs);
    flex-direction: column-reverse;
    width: 100%;
  }

  .title37 {
    font-size: var(--font-size-title-small);
    line-height: var(--font-size-title-small-heigth);
  }

  .subtitle18 {
    font-size: var(--font-size-read-small);
    line-height: var(--font-size-read-small-height);
    letter-spacing: 0.25px;
  }
}
