.image-container-icon3 {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    height: 25rem;
    object-fit: cover;
    z-index: 0;
}

.section8 {
    align-self: stretch;
    position: relative;
    background-color: var(--primary);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-41xl) var(--padding-71xl);
    align-items: center;
    justify-content: center;
    gap: var(--gap-41xl);
}

.image-21-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 18rem;
    flex-shrink: 0;
    object-fit: cover;
}

.blog-container {
    display: flex;
    flex-direction: column;
}

.single-blog {
    position: relative;
    flex-direction: column;
    padding: var(--padding-61xl) 0 0;
    justify-content: flex-start;
}