.rectangle-icon {
  position: relative;
  border-radius: var(--br-81xl);
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.rectangle-icon:hover {
  border: 4px solid var(--primary);
  box-sizing: border-box;
}
.tab15,
.title12 {
  position: relative;
  font-weight: 500;
}
.title12 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 2.25rem;
  font-family: inherit;
}
.tab15:hover,
.title12:hover {
  color: var(--primary);
}
.tab15 {
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  cursor: pointer;
}
.navigation3,
.top-bar3 {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--secondary);
  font-family: var(--title-medium);
}
.navigation3 {
  margin: 0;
  gap: var(--gap-21xl);
  font-size: var(--lable-large-size);
}
.top-bar3 {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  width: 90rem;
  height: 5rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xl) var(--padding-71xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-9xl);
}
.image-container-icon3 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 25rem;
  object-fit: cover;
  z-index: 0;
}
.section-child2 {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.03rem;
  z-index: 1;
}
.section8,
.title13 {
  align-self: stretch;
  position: relative;
}
.section8 {
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-41xl);
}
.title13 {
  margin: 0;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 400;
  font-family: inherit;
}
.frame-div,
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-container {
  align-self: stretch;
}
.frame-div {
  flex: 1;
  z-index: 0;
}
.article-item {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: -0.03rem;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.06rem;
  z-index: 1;
}
.article2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-xl);
}
.at-vero-eos13 {
  display: block;
}
.subtitle5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--lable-large-size);
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-family: var(--body-large);
}
.list3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--title-large-size);
  color: var(--color-black);
  font-family: var(--title-medium);
}
.image-21-icon,
.title16 {
  align-self: stretch;
  position: relative;
}
.title16 {
  margin: 0;
  font-size: inherit;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: inherit;
}
.image-21-icon {
  max-width: 100%;
  overflow: hidden;
  height: 18rem;
  flex-shrink: 0;
  object-fit: cover;
}
.image-container2,
.image1 {
  align-self: stretch;
  display: flex;
}
.image1 {
  flex: 1;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container2 {
  height: 18rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtitle8,
.title17 {
  align-self: stretch;
  position: relative;
}
.title17 {
  margin: 0;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: inherit;
}
.subtitle8 {
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
  color: var(--color-gray-200);
}
.label-text {
  position: relative;
  line-height: 1rem;
}
.label-normal {
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs);
  align-items: center;
  justify-content: center;
}
.selection,
.title-parent1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.selection {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-9xs) 0;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-xs);
}
.title-parent1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.article5 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-300);
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-base);
  cursor: pointer;
}
.article5:hover {
  background-color: var(--primary);
}
.article5,
.row1,
.title-group {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row1 {
  flex-direction: row;
  padding: var(--padding-base) 0;
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.title-group {
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-71xl) 0;
  text-align: left;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}
.container4,
.section9,
.title20 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title20 {
  margin: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 400;
  font-family: inherit;
}
.container4,
.section9 {
  flex-direction: row;
}
.container4 {
  flex: 1;
  height: 6.25rem;
}
.section9 {
  align-self: stretch;
  background-color: var(--primary);
  overflow: hidden;
  padding: 0 var(--padding-71xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--title-medium);
}
.single-blog-hifi-desktop {
  position: relative;
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
