.image-21-icon6 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 18rem;
  flex-shrink: 0;
  object-fit: cover;
}
.image-container16,
.image14 {
  align-self: stretch;
  display: flex;
}
.image14 {
  flex: 1;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container16 {
  height: 18rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtitle25,
.title57 {
  align-self: stretch;
  position: relative;
}
.title57 {
  margin: 0;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: inherit;
}
.subtitle25 {
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
  color: var(--color-gray-200);
}
.label-text35 {
  position: relative;
  line-height: 1rem;
}
.label-normal35,
.selection9 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.label-normal35 {
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-gray-300);
  display: flex;
  padding: var(--padding-11xs) var(--padding-9xs);
  justify-content: center;
}
.selection9 {
  flex-wrap: wrap;
  padding: var(--padding-9xs) 0;
  gap: var(--gap-7xs);
  font-size: var(--font-size-xs);
}
.article16,
.row7,
.selection9,
.title-parent14 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.title-parent14 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.article16,
.row7 {
  align-items: center;
  gap: var(--gap-base);
}
.article16 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-300);
  flex-direction: column;
  padding: var(--padding-base);
  cursor: pointer;
}
.article16:hover {
  background-color: var(--primary);
}
.row7 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base) 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--title-medium);
}
