@keyframes change-background-color {
  0% {
    background-color: var(--white);
    color: var(--color-black);
  }
  to {
    background-color: var(--primary);
    color: var(--white);
  }
}

@keyframes change-background-color-out {
  0% {
    background-color: var(--primary);
    color: var(--white);
  }
  to {
    background-color: var(--white);
    color: var(--color-black);
  }
}

.image10 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.image-container12 {
  width: 6.19rem;
  height: 8.75rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(/public/image-container1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.subtitle21,
.subtitle22,
.title41 {
  align-self: stretch;
  position: relative;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-title-large);
  line-height: var(--font-size-title-large-height);
}
.subtitle21,
.subtitle22 {
  line-height: 1.5rem;
}
.subtitle21 {
  font-size: var(--title-medium-size);
  letter-spacing: 0.15px;
  font-weight: 500;
  color: var(--color-gray-200);
}
.subtitle22 {
  font-family: var(--font-serif);
  font-size: var(--font-size-read-large);
  line-height: var(--font-size-read-large-height);
  letter-spacing: 0.5px;
}

.label-text28 {
  font-family: var(--font-serif);
  font-size: var(--font-size-read-small);
  line-height: var(--font-size-read-small-height);
  position: relative;
  line-height: 1rem;
}
.label-normal28 {
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs);
  align-items: center;
  justify-content: center;
}
.selection7,
.title-parent12 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.selection7 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-9xs) 0;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-xs);
}
.title-parent12 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.article14,
.row5 {
  display: flex;
  flex-direction: row;
}
.article14 {
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.row5 {
  align-self: stretch;
  background-color: var(--white);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-align: left;
  font-size: var(--title-large-size);
  color: var(--color-black);
  font-family: var(--title-medium);
}
.row5:hover {
  animation: 0.2s ease-in-out 0s 1 forwards change-background-color;
}
.row5:not(:hover) {
  animation: 0.2s ease-in-out 0s 1 forwards change-background-color-out;
}

@media (max-width: 960px) {
  .title41 {
    font-size: var(--font-size-title-medium);
    line-height: var(--font-size-title-medium-height);
  }
  .subtitle22 {
    font-family: var(--font-serif);
    font-size: var(--font-size-read-medium);
    line-height: var(--font-size-read-medium-height);
    letter-spacing: 0.2px;
  }
}

@media (max-width: 768px) {
  .title41 {
    font-size: var(--font-size-title-small);
    line-height: var(--font-size-title-small-height);
  }
  .subtitle22 {
    font-family: var(--font-serif);
    font-size: var(--font-size-read-small);
    line-height: var(--font-size-read-small-height);
    letter-spacing: 0.1px;
  }
}
