@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}

@keyframes shadow-inset-center-out {
  0% {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
  to {
    box-shadow: inset 0 0 0 0 transparent;
  }
}

.title48 {
  margin: 0;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-heading-large);
  line-height: var(--font-size-heading-large-height);
  font-weight: 700;
}
.description,
.title48 {
  align-self: stretch;
  position: relative;
}
.description {
  letter-spacing: 0.5px;
  font-family: var(--font-serif);
  font-size: var(--font-size-read-large);
  line-height: var(--font-size-read-large-height);
}

.button4,
.container11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button4 {
  cursor: pointer;
  border: 0;
  background-color: var(--primary);
  overflow: hidden;

  position: relative;
  font-size: var(--lable-large-size);
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: var(--title-medium);
  color: var(--white);
  text-align: left;

  border-radius: var(--br-5xs);
  width: 19.5rem;
  height: 4.69rem;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.button4:hover {
  animation: 0.4s ease-in-out 0s 1 forwards shadow-inset-center;
  opacity: 1;
}

.button4:not(:hover) {
  animation: 0.2s ease-in-out 0s 1 forwards shadow-inset-center-out;
  opacity: 1;
}

.social-links-container {
  width: 100%;
  background-color: red;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  z-index: 0;
  width: 100%;
}

textarea {
  position: relative;
  flex: 1;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.25rem;
  resize: vertical;
}

.input {
  align-self: stretch;
  display: flex;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-200);
  font-family: var(--body-large);
}

.input:focus {
  outline-color: var(--primary);
}

.form-and-social-container {
  display: flex;
  width: 100%;
}

.container11 {
  flex: 1;
  align-items: center;
  gap: var(--gap-5xl);
  z-index: 0;
  width: 100%;
  max-width: var(--max-inner-width);
}

.section21 {
  align-self: stretch;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 6;
  text-align: center;
  font-size: var(--lable-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}

@media (max-width: 960px) {
  .section21 {
    padding: var(--padding-13xl) var(--padding-13xl);
  }
  .title48 {
    font-size: var(--font-size-heading-medium);
    line-height: var(--font-size-heading-medium-height);
  }
  .description {
    font-size: var(--font-size-read-medium);
    line-height: var(--font-size-read-medium-height);
  }
}

@media (max-width: 768px) {
  .section21 {
    padding: var(--padding-13xl) var(--padding-5xs);
  }
  .container11 {
    gap: var(--gap-base);
  }
  .form-and-social-container {
    flex-direction: column;
  }
  .title48 {
    font-size: var(--font-size-heading-small);
    line-height: var(--font-size-heading-small-height);
  }
  .description {
    font-size: var(--font-size-read-medium);
    line-height: var(--font-size-read-medium-height);
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }
  .contact-form {
    gap: var(--gap-base);
  }
}
