.section-child7 {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.03rem;
  z-index: 0;
}
.section17 {
  align-self: stretch;
  height: 600px;
}

@media (max-width: 960px) {
  .section17 {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .section17 {
    height: 200px;
  }
}
