.section-child7 {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.03rem;
  z-index: 0;
}
.section17 {
  align-self: stretch;
  height: 32.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-71xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(/public/section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
