.text,
.title47 {
  position: relative;
}
.title47 {
  align-self: stretch;
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  font-weight: 500;
}
.text {
  flex: 1;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.25rem;
}
.input,
.textfield {
  align-self: stretch;
  display: flex;
}
.textfield {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-200);
  font-family: var(--body-large);
}
.input {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--lable-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}
