@keyframes change-color {
  0% {
    color: var(--primary);
  }
  to {
    color: var(--secondary);
  }
}

@keyframes change-color-out {
  0% {
    color: var(--secondary);
  }
  to {
    color: var(--primary);
  }
}

.image-27-icon1 {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  cursor: pointer;
  color: var(--primary);
}
.image-27-icon1:hover {
  animation: 0.4s ease-in-out 0s 1 forwards change-color;
}
.image-27-icon1:not(:hover) {
  animation: 0.2s ease-in-out 0s 1 forwards change-color-out;
}

.image-27-group,
.image-container14,
.image12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.image-27-group {
  align-items: center;
  gap: var(--gap-15xl);
}
.image-container14,
.image12 {
  align-items: flex-start;
}
.image12 {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  padding: var(--padding-22xl) var(--padding-12xl);
}
.image-container14 {
  overflow: hidden;
  padding: var(--padding-9xs) 0;
  z-index: 0;
  width: 100%;
  max-width: var(--max-inner-width);
}
.section-child12 {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.03rem;
  z-index: 1;
}
.section22 {
  width: 100%;
  align-self: stretch;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 7;
}

@media (max-width: 960px) {
  .section22 {
    width: 100%;
    align-self: stretch;
    background-color: var(--grey);
    overflow: hidden;
    display: flex;
    flex-direction: row;

    padding-left: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: var(--gap-41xl);
    z-index: 7;
  }
}

@media (max-width: 768px) {
  .section22 {
    padding: var(--padding-xl);
  }
  .form-and-social-container {
    flex-direction: column;
  }
  .section22 {
    padding-left: 0;
  }
}
