.textbox-subtitle18,
.textbox-title37 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-title-large);
  line-height: var(--font-size-title-large-heigth);
  font-family: var(--font-sans-serif);
}

.textbox-subtitle18 {
  font-size: var(--font-size-read-large);
  line-height: var(--font-size-read-large-height);
  font-family: var(--font-serif);
  letter-spacing: 0.5px;
}

.textbox-title-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.textbox-frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-13xl);
}

.textbox-article13,
.textbox-list4 {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.textbox-article13 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  align-self: center;
  gap: var(--gap-xl);
  mix-blend-mode: normal;
  width: 100%;
  max-width: var(--max-inner-width);
  top: 0;
}

.textbox-list4 {
  background-color: var(--grey);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: left;
  font-size: var(--title-large-size);
  color: var(--color-black);
  font-family: var(--title-medium);
}

@media (max-width: 960px) {
  .textbox-list4 {
    padding: var(--padding-base) var(--padding-13xl);
  }

  .textbox-subtitle18 {
    font-size: var(--font-size-read-medium);
    letter-spacing: 0.25px;
    line-height: var(--font-size-read-medium-height);
  }

  .textbox-title37 {
    font-size: var(--font-size-title-medium);
    line-height: var(--font-size-title-medium-heigth);
  }
}

@media (max-width: 768px) {
  .textbox-list4 {
    padding: 0 var(--padding-5xs);
    padding-bottom: var(--padding-13xl);
  }

  .textbox-subtitle18 {
    font-size: var(--font-size-read-small);
    line-height: var(--font-size-read-small-height);
    letter-spacing: 0.25px;
  }

  .textbox-article13 {
    border-radius: var(--br-5xs);
    background-color: var(--white);
    flex-direction: column;
    padding: var(--padding-5xs);
    align-items: flex-start;
    align-self: center;
    gap: var(--gap-xl);
    mix-blend-mode: normal;
    width: 100%;
    max-width: var(--max-inner-width);
    top: 0;
  }

  .textbox-title37 {
    font-size: var(--font-size-title-small);
    line-height: var(--font-size-title-small-heigth);
  }
}
