@keyframes change-color {
  0% {
    color: var(--primary);
  }
  to {
    color: var(--secondary);
  }
}

@keyframes change-color-out {
  0% {
    color: var(--primary);
  }
  to {
    color: var(--secondary);
  }
}

.title42 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-heading-large);
  line-height: var(--font-size-heading-large-height);
  font-weight: 700;
  font-family: var(--font-sans-serif);
  letter-spacing: 0.15rem;
  cursor: pointer;
}

.title42:hover {
  animation: 0.4s ease-in-out 0s 1 forwards change-color-out;
}

.title42:not(:hover) {
  animation: 0.2s ease-in-out 0s 1 forwards change-color;
}

.container9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}

.list6 {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  justify-content: center;
  gap: var(--gap-21xl);
  z-index: 1;
  font-size: var(--title-large-size);
  color: var(--color-black);
}
.section-child9 {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.03rem;
  z-index: 2;
}
.section19 {
  align-self: stretch;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 4;
  text-align: left;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
}

.section19-inner-content {
  align-self: stretch;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-41xl);
  z-index: 4;
  text-align: left;
  font-size: var(--heading-large-size);
  color: var(--secondary);
  font-family: var(--title-medium);
  width: 100%;
  max-width: var(--max-inner-width);
}

@media (max-width: 960px) {
  .section19 {
    padding: var(--padding-13xl) var(--padding-13xl);
  }
  .section19-inner-content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .list6 {
    width: 100%;
    gap: var(--gap-5xl);
    padding: 0;
  }
  .title42 {
    font-size: var(--font-size-heading-medium);
    line-height: var(--font-size-heading-medium-height);
  }
}

@media (max-width: 768px) {
  .section19 {
    padding: 0;
  }
  .section19-inner-content {
    padding: var(--padding-13xl) var(--padding-5xs);
    gap: var(--gap-xl);
  }
  .list6 {
    gap: var(--gap-xl);
  }
  .title42 {
    font-size: var(--font-size-heading-small);
    line-height: var(--font-size-heading-small-height);
  }
}
